@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  /* Container Customization Style Start  */
  header {
    background-color: #31bfeb;
    height: 650px;
  }
  .header-text{
      color: white;
      font-family: sans-serif ;
      font-weight: 600;
  }
  #header-text{
    color: rgb(18, 108, 252);
    font-size: 48px;
  }
  .button-color {
    background-color: #6d51e7;
  }
  .text-color {
    color: #ff633c;
  }
  .fa-star.filled {
    color: #ff633c;
  }
  .fa-star.empty {
    color: #aeaeae;
  }
  .slider-coler{
    background-color: #31bfeb;
  }