* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  /* Container Customization Style Start  */
  header {
    background-color: #358ba5;
    height: 698px;
  }
  .header-text{
      color: white;
      font-family: sans-serif ;
      font-weight: 600;
  }
  #header-text{
    color: red;
    font-size: 48px;
  }
  .button-color {
    background-color: #e76f51;
  }
  .text-color {
    color: #e76f51;
  }
  .fa-star.filled {
    color: #e77c40;
  }
  .fa-star.empty {
    color: #aeaeae;
  }
  .slider-coler{
    background-color: #358ba5;
  }